/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
  font-family: 'Baskerville';
  src: url(../fonts/Baskerville.ttc);
}
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
  font-family: 'Baskerville';
  font-size: 5em;
  font-weight: normal;
  margin: 0 0 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

p {
  font-size: 1em;
  color: #555;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 2em;
  color: rgb(111,127,122);
}

.small {
  font-size: 0.8em;
}

header a {
  text-decoration: none;
  color: rgb(152,173,166);
}

header a:hover {
  color: rgb(111,127,122);
}

#about img {
  border: 5px solid rgb(152,173,166);
}

#about a {
  color:
}

#press img {
  border: 5px solid rgb(152,173,166);
}

footer {
  text-align: right;
  background: #fff;
}

#press {
  margin-bottom: 20px;
}
